<!--<div-->
  <!--class="dynamic-field form-select"-->
  <!--[formGroup]="group">-->
  <!--<label>{{ config.label }}</label>-->
  <!--<select [formControlName]="config.name">-->
    <!--<option value="">{{ config.placeholder }}</option>-->
    <!--<option *ngFor="let option of config.options">-->
      <!--{{ option }}-->
    <!--</option>-->
  <!--</select>-->
<!--</div>-->
<div
  class="dynamic-field form-select"
  [formGroup]="group">
  <md-select placeholder="{{config.placeholder}}" [formControlName]="config.name">
    <md-option *ngFor="let option of config.options" [value]="option.value">
      {{ option.key }}
    </md-option>
  </md-select>
</div>

