<!--<div-->
<!--class="dynamic-field form-input"-->
<!--[formGroup]="group">-->
<!--<label>{{ config.label }}</label>-->
<!--<input-->
<!--type="{{config.inputType}}"-->
<!--placeholder="{{config.placeholder}}"-->
<!--[formControlName]="config.name"/>-->
<!--</div>-->
<!--<div *ngIf="!group.controls[config.name].valid && group.controls[config.name].touched">-->
<!--<app-ervalidationMessageControlsage [covalidationMessageControl"group.controls[config.name]"></app-error-message>-->
<!--</div>-->

<div
  class="dynamic-field form-input"
  [formGroup]="group">
  <md-input-container>
    <input
      mdInput
      type="{{config.inputType}}"
      placeholder="{{config.placeholder}}"
      [formControlName]="config.name"
      (blur)="onBlurMethod()"
      (focus)="onFocusMethod()"/>
  </md-input-container>
</div>
<app-error-message [control]="group.controls[config.name]"
                   [validationControl]="config.validationMessageControl"
                   [onBlur]="isOnBlur"
                   [formState]="state"
></app-error-message>
